@import '../@theme/styles/themes';

@include nb-install-component() {
  /deep/ router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

::ng-deep.new nb-menu > .menu-items > .menu-item:first-child .menu-title::after {
  display:none !important;   
}

::ng-deep.menu-item a{
  font-weight: 600;
}

::ng-deep.nb-theme-corporate nb-menu .menu-item a:hover, .nb-theme-corporate nb-menu .menu-item a:active {
  background-color: #e3e9ee;
  color: darkblue;
  font-weight: 800;
}


::ng-deep.nb-theme-corporate nb-menu .menu-item a.active {
  background-color: #e3e9ee;
  color: darkblue;
  font-weight: 800;
}