<nb-card-header>Live Streaming</nb-card-header>
<toaster-container [toasterconfig]="config"></toaster-container>
<!-- <form [formGroup]="AddGroupForm" (ngSubmit)="addGroup()"> -->
<div class="modal-body" style="margin-left: 40px;">
   <div class="row">
      <div class="column">
         <div style="text-align: center;
            font-weight: 400;
            color: white;padding:5px;background-color:#2a72be">sun Tv11111111111</div>
         <video width="800" controls  class="video-js vjs-default-skin"  [muted]="'muted'" controlsList="nodownload">
            <source src="http://137.59.76.122:1935/live/kalaignartv.stream_720p/playlist.m3u8" type="application/x-mpegURL" >
         </video>
      </div>
      <!-- <div class="column">
         <div style="text-align: center;
            font-weight: 400;
            color: white;padding:5px;background-color:#2a72be">sun Tv</div>
         <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
            <source src="/assets/images/wf.mp4" >
         </video>
      </div>
      <div class="column">
         <div style="text-align: center;
            font-weight: 400;
            color: white;padding:5px;background-color:#2a72be">sun Tv</div>
         <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
            <source src="/assets/images/wf.mp4" >
         </video>
      </div>
      <div class="column">
         <div style="text-align: center;
            font-weight: 400;
            color: white;padding:5px;background-color:#2a72be">sun Tv</div>
         <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
            <source src="/assets/images/wf.mp4" >
         </video>
      </div>
       <div class="column">
      <div style="text-align: center;
         font-weight: 400;
         color: white;padding:5px;background-color:#2a72be">sun Tv</div>
      <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
         <source src="/assets/images/wf.mp4" >
      </video>
   </div> -->
 </div>
<!-- <div class="row">
   <div class="column">
      <div style="text-align: center;
         font-weight: 400;
         color: white;padding:5px;background-color:#2a72be">sun Tv</div>
      <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
         <source src="/assets/images/wf.mp4" >
      </video>
   </div>
   <div class="column">
      <div style="text-align: center;
         font-weight: 400;
         color: white;padding:5px;background-color:#2a72be">sun Tv</div>
      <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
         <source src="/assets/images/wf.mp4" >
      </video>
   </div>
   <div class="column">
      <div style="text-align: center;
         font-weight: 400;
         color: white;padding:5px;background-color:#2a72be">sun Tv</div>
      <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
         <source src="/assets/images/wf.mp4" >
      </video>
   </div>
   <div class="column">
      <div style="text-align: center;
         font-weight: 400;
         color: white;padding:5px;background-color:#2a72be">sun Tv</div>
      <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
         <source src="/assets/images/wf.mp4" >
      </video>
   </div>
   <div class="column">
      <div style="text-align: center;
         font-weight: 400;
         color: white;padding:5px;background-color:#2a72be">sun Tv</div>
      <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
         <source src="/assets/images/wf.mp4" >
      </video>
   </div>
</div> -->
<!-- <div class="row">
   <div class="column">
      <div style="text-align: center;
         font-weight: 400;
         color: white;padding:5px;background-color:#2a72be">sun Tv</div>
      <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
         <source src="/assets/images/wf.mp4" >
      </video>
   </div>
   <div class="column">
      <div style="text-align: center;
         font-weight: 400;
         color: white;padding:5px;background-color:#2a72be">sun Tv</div>
      <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
         <source src="/assets/images/wf.mp4" >
      </video>
   </div>
   <div class="column">
      <div style="text-align: center;
         font-weight: 400;
         color: white;padding:5px;background-color:#2a72be">sun Tv</div>
      <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
         <source src="/assets/images/wf.mp4" >
      </video>
   </div>
   <div class="column">
      <div style="text-align: center;
         font-weight: 400;
         color: white;padding:5px;background-color:#2a72be">sun Tv</div>
      <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
         <source src="/assets/images/wf.mp4" >
      </video>
   </div>
   <div class="column">
      <div style="text-align: center;
         font-weight: 400;
         color: white;padding:5px;background-color:#2a72be">sun Tv</div>
      <video width="200" controls autoplay [muted]="'muted'" controlsList="nodownload" >
         <source src="/assets/images/wf.mp4" >
      </video>
   </div>
</div> -->
</div>
<div class="modal-footer">
   <button type="submit" class="btn btn-md btn-success">
   {{id ? 'Update': 'Add'}}</button>
   <button class="btn btn-md btn-danger " [routerLink]="['/pages/group/list-group']">Back</button>
</div>
<!-- </form> -->