.table-wrapper {
  overflow-y: scroll;
  height: 600px;
}

.table-wrapper th {
  position: sticky;
  top: -1px;
}


.table-wrapper {
  background: white;
}

table {
  border-collapse: collapse;
  width: 100%;

}

// th{
//     background:#01a7ee;
// }

th {
  // background-image: linear-gradient(to right,  rgb(25, 176, 220),rgb(2, 13, 81));
  // background-image: linear-gradient(to right,  rgb(25, 176, 220),rgb(56, 72, 177));
  background-color: #2a72be;
  color: white;

}

td,
th {
  // padding: 10px;
  text-align: center;
}

// .table td {
//   white-space: nowrap;
// }
// .table th {
//   white-space: nowrap;
//     z-index:998;
// }
// New style
.table {
  margin-bottom: 0;
}

.table-bordered {
  border: 1px solid #f2f2f2;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #cac5c5;
}

.table td,
.table th {
  vertical-align: middle;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
}

.bg-secondary th {
  padding: 13px 12px;
}

#myTable td {
  padding: 8px 10px;
}