nb-card-body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

th {
    // background-image: linear-gradient(to right, rgb(2, 13, 81), rgb(25, 176, 220));
    background-image: linear-gradient(to margin-left,  rgb(25, 176, 220),rgb(9, 76, 97));
    // background-color: rgb(62, 78, 182);
    color: white;

}